@tailwind base;
@tailwind components;
@tailwind utilities;

.filtericon{
  font-size: 13px !important;
}


.filter{
  margin-left: 38rem !important;
}

.favoriteicon{
  animation: fade 2s alternate forwards ;
}

@keyframes fade {
  0%{
      transform: opacity(0);
  }
  100%{
      transform: opacity(1);
  }
}

@media (min-width: 768px) {
  body{
    position: relative;
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}